<div class="[ post-list ] [ wrapper flow ]">
  {% for post in posts %}

  {% set author = helpers.filterCollectionByKey(collections.people, post.data.authorKey) %}

  <div class="post-list__item">
    <div class="c-block__media">
      <a href={{ post.url }} class="c-block__media-link">
        <img class="image" src={{ post.data.thumbnailImage.src }} alt={{ post.data.thumbnailImage.alt }}>
      </a>
    </div>
    <div class="content">
      {% if showTag %}
      <p class="tag link-secondary">
        <a href="/{{ post.data.tags[0] }}/">{{ post.data.tags[0] }}</a>
      </p>
      {% endif %} 
      <h3 class="heading link-secondary">
        <a href={{ post.url }}>{{ post.data.longTitle }}</a>
      </h3>
      <p class="description">{{ post.data.description }}</p>

      <div class="post-meta">
        <p class="author">{{ author.data.name }}</p>
        <time class="date" datetime="{{ post.date | w3DateFilter }}">{{ post.date | mediumDateFilter }}</time>
      </div>
      <div class="hr"></div>
    </div>
  </div>
  {% endfor %}
</div>