.link {
  color: var(--gray-500);
  border-bottom: .5px solid var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--gray-700);
  }
}

.hr {
  border: var(--hr-height, 3px) solid var(--hr-color, var(--gray-600));
  width: var(--hr-width, var(--step-4));

  &.thin {
    --hr-height: .5px;
    --hr-width: 50%;
  }
}