{% extends 'layouts/base.njk' %}

{% set postListItems = collections.postFeed %}
{% set posts = collections.posts %}

{% block content %} 

<div class="flow">
  <header class="hero">
    <div class="hero__content">
      <img src="/images/outside.svg" alt="Outside Online Logo">
      <p>Today's Stories</p>
      <ul>
        {% for post in postListItems %}
        <li class="hero-post-item">
          <a class="hero-post-item__link" href={{ post.url }}>{{ post.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <img class="hero__img" src={{ heroImage.src }} alt={{ heroImage.alt }} />
  </header>

  {% include 'partials/components/section-intro.njk' %}

  <div class="[ post-list ] [ wrapper flow ]">
    {% for post in posts %}
    <div class="post-list__item">
      <a href={{ post.url }}>
        <img class="image" src={{ post.data.thumbnailImage.src }} alt={{ post.data.thumbnailImage.alt }}>
      </a> 
      <div class="content">
        <p class="tag link-secondary">
          <a href="/tags/{{ post.data.tags[0] }}">{{ post.data.tags[0] }}</a>
        </p>
        <h3 class="heading link-secondary">
          <a href={{ post.url }}>{{ post.data.title }}</a>
        </h3>
        <p class="description">{{ post.data.description }}</p>

        <div class="post-meta">
          <p class="author">{{ post.data.author }}</p>
          <time class="date" datetime="{{ post.date | w3DateFilter }}">{{ post.date | mediumDateFilter }}</time>
        </div>
        <div class="hr"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% include 'partials/components/read-more-cta.njk' %}
</div>
{% endblock %}