{% extends 'layouts/base.njk' %}

{% set postListItems = collections.postFeed %}

{% block content %}
  <div class="wrapper">
    {{ content | safe }} 
  </div>
  {% include 'partials/components/read-more-cta.njk' %}
{% endblock %}