{% extends 'layouts/base.njk' %}

{% set postListItems = collections.postFeed %}
{% set posts = collections.posts %}

{% block content %} 
 
<header class="hero"> 
  <div class="hero__content">
    <img src="/images/outside.svg" alt="Outside Online Logo">
    <p>Today's Stories</p>
    <ul>
      {% for post in postListItems %}
      <li class="hero-post-item">
        <a class="hero-post-item__link" href={{ post.url }}>{{ post.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <img class="hero__img" src={{ heroImage.src }} alt={{ heroImage.alt }} />
</header>
 
<div class="primary-heading text-center">Latest</div> 

<div class="post-list">
  <ul>
    {% for post in posts %}
    <li class="post-list__item">
      <p>{{ post.data.tags[0] }}</p>
      <h1>{{ post.data.title }}</h1>
      <time class="post-stack-date" datetime="{{ post.date | w3DateFilter }}">{{ post.date | dateFilter }}</time>

      <p>{{ post.data.author }}</p>
    </li>
    {% endfor %}
  </ul>
</div>

{% include 'partials/components/read-more-cta.njk' %}
{% endblock %}