{% extends 'layouts/base.njk' %}

{% block content %}
<div class="[ post ] [ wrapper ] [ flow ]">
  <div class="[ prose insulate additive-spacing ]">
    <header>
      <h2 class="post__heading">{{ title }}</h2>
      {% if description %}
      <p class="post__description">{{ description | safe }}</p>
      {% endif %}
 
      <div class="hero">
        <img class="hero__img" src={{ heroImage.src }} alt={{ heroImage.alt }} />
      </div>

      <p class="post__meta">
        {% if date %}
        Posted by {{ author }}
        on <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | longDateFilter }}</time>
        {% endif %} (about a {{ helpers.getReadingTime(content) }} minute read).
      </p>
      <div class="hr"></div>
    </header>
    <div class="[ post__content ] [ wrap ]">
      {{ content | safe }}
    </div>
  </div>
 
  <div class="wrap">
    <footer class="post__footer">
      {% if tags %}  
      <p class="post-tag-heading">Filed To:</p>
      <ul class="post-tags">
        {% for item in tags %} 
        <li class="post-tag"> 
          <a class=" link" href="/{{ item }}">{{ item }}</a>
        </li> 
        {% endfor %}
      </ul>
      {% endif %}
    </footer>
    <p class="attribution">Lead Photo: {{ heroImage.attribution }}</p>
  </div>
</div>
{% endblock %}