.magazine {
  --hero-height: 100%;
  --flow-space: 0;
  
  &__content {
    --flow-space: var(--step-1);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 1rem;
    background: transparent;

    &-item {
      // display: grid;
      // place-items: center;
    }

    .magazine__content-item + .magazine__content-item {
      // margin-top: 2rem;
    }
  }

  &__post {
    // margin-left: 0;
    // padding-left: 0;

    &-item {
      list-style-type: none;
      
      &__link {
        color: white;     
      }
    }
  }
}