.post {
  &__heading {
    margin-bottom: 0;
    margin-bottom: .2rem;
    max-width: 30ch;
  }

  &__description {
    font-size: var(--step-0);
    color: var(--gray-700);
    line-height: 1.4;
  }

  .hero {
    margin-top: 1.4rem;
  }
  
  &__meta {
    font-size: var(--step--2);
    color: var(--gray-500);
    margin: var(--step-0) 0;
  }

  &__content {
    font-size: var(--step--1);
    // max-width: 65ch;
  }
  
  .post-footer {
    display: flex;
    align-items: center;
  }

  .post-tags {
    display: flex;
  }

  .post-tag-heading {
    font-weight: bold;
    font-size: var(--step--2);
    margin-right: var(--step--4);
  }

  .post-tag {
    font-size: var(--step--2);

    &:not(:last-child):after {
      content: "•";
      margin: 0;
      padding: 0;

      margin: 0 var(--step--5);
      color: var(--gray-500);
    }
  }

  .hr {
    --hr-color: var(--primary);
  }

  .attribution {
    font-family: var(--font-sans);
    font-size: var(--step--3);
    color: var(--gray-500);
  }
}