.mountains {
  --stack-size: 0;
  // --background-color: var(--gray-50);
  --background-color: var(--primary);

  background-color: var(--background-color);
}

.site-foot {
  --stack-size: 0;

  color: var(--gray-100);
  background-color: black;
  padding: 2.5rem 0;
  margin-top: calc(2.5rem + 60px);
  position: relative;
  z-index: 99;
  // font-size: var(--font-sm);

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -60px;
    height: 60px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 60px;
    background-image: url(/images/mountains.svg);
  }

  &__inner {
    color: #fff;
    margin: 0 auto;
    padding: 0 20px;
  }

  a {
    color: var(--gray-100);
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }
  }

  .link {
    text-decoration-color: whitesmoke;
  }

  &__inner {
    --gap: 3rem;
  }

  &__newsletter {
    --flow-space: 1rem;

    display: flex;
    flex-direction: column;

    input {
      color: whitesmoke;
      border: 1px solid whitesmoke;
      padding: .3rem 1rem;
    }

    small {
      --flow-space: .5rem;
    }
  }

  .site-foot-links {
    --gap: .2rem;

    &__item {
      display: flex;
      flex-direction: column;
    }
  }

  .site-foot-hr {
    color: whitesmoke;
  }

  &__copy {
    // --auto-grid-min-size: 10rem;
    // --auto-grid-gap: .5rem;

    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
  }
}

.site-logo {
  width: 8rem;
}