--- 
title: Tag
pagination: 
  data: collections 
  size: 1
  alias: tag 
  filter: 
    - all 
    - nav 
    - post 
    - posts 
    - tagList 
    - postFeed 
addAllPagesToCollections: true 
permalink: /{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = tag %}
{% set includeDate = false %}

{# Post list content #}
{% set posts = collections[tag] %}

{% block content %}
  <div class="flow">
    {% include 'partials/components/section-intro.njk' %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </div>
{% endblock %}