/*
Viewport sizing
*/
body {
  font-size: calc( 14px + ( 18 - 14 ) * ( ( 100vw - 300px ) / ( 1400 - 300 ) ) );
}
h1 {
  font-size: calc( 1.5rem + 3vw );
}
.gallery-link {
  height: 50vh;
  min-height: 15em;
}
.gallery-img {
  object-fit: cover;
  object-position: 50% 30%;
}